@media screen and (max-width: 650px) {
  .container {
    background-color: red;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
  }
}

@media screen and (min-width: 650px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
  }
}
.model {
  position: absolute;
  inset: 40px;
  border: 1px solid rgb(34, 2, 2);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  margin-left: 5rem;
  margin-right: 5rem;
}
